:root {
    --font-raleway: 'Raleway', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --blue: #08A6E4;
    --green: #55DFB4;
    --red: #FB3B64;
    --grey: #00000029;
    --white: #fff;
    --black: #000
}

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

/*header*/
.header {
    height: 70px;
    background: var(--white);
    box-shadow: 0 3px 6px var(--grey);
    border-bottom: var(--grey);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 136px;
    margin-right: 136px;
}

.logo {
    text-decoration: none;
    text-transform: none;
    color: var(--blue);
    font-size: 32px;
    font-family: var(--font-raleway);
    text-align: left;
}

.menu {
    height: 100%;
}

.menu__list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__guzik {
}

.menu__link {
    text-transform: uppercase;
    font-family: var(--open-sans);
    text-decoration: none;
    color: var(--grey);
    padding: 28px 18px 22px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
    list-style-type: none;
    font-size: 11px;
    text-align: center;
    border-bottom: 4px solid transparent;
}

.menu__link:hover {
    color: var(--black);
    border-color: var(--blue);
}

/*hero*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__div {
    margin-top: 130px;
    text-align: center;
}

.hero__title {
    font-size: 49px;
    font-family: var(--font-raleway);
    color: var(--black);
}

.hero__text {
    font-family: var(--open-sans);
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 38px;
}

.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: 40px;
    border: none;
    text-decoration: none;
}

.btn--primary {
    background-color: var(--blue);
    border-radius: 40px;
    box-shadow: 3px 10px 14px var(--grey);
    font-size: 16px;
    font-family: var(--open-sans);
}

.btn--large {
    padding: 22px 155px;
}

.hero__image {
    width: 100%;
}

/*statystyki*/
.stat {
    margin-top: 100px;
    text-align: center;
}

.stat__title {
    font-size: 36px;
    color: var(--black);
    font-family: var(--font-raleway);
}

.stat__container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;


}

.stat__el {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);

}

.stat__dot {
    width: 63px;
    height: 63px;
    background-color: var(--red);
    border-radius: 50%;
    position: relative;
}

.eye {
    background-color: var(--blue);
}

.cat {
    background-color: var(--green);
}

.stat__dot img {
    position: absolute;
}

.stat__nr {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .1875rem;
    margin-top: 13px;
    font-weight: 800;
}

.stat__text {
    font-size: 17px;
    font-family: var(--font-raleway);
    color: #A5A5A5;
    margin-top: 19px;
}

/*benefits*/
.benefits {
    background: #F7F7F7;
    padding: 100px 0;
}

.benefits__container {
    max-width: 1124px;
    padding: 0 100px;

}

.benefits__text {
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid #e8e9ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;


}

.benefits__pic .benefits__mac-pic {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits__pic {
    position: relative;

}

.benefits__pic .benefits__mac-pic img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits__pic .benefits__mac-pic::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--red);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 50px;
    top: 20px;
    transform: rotate(45deg);
}

.benefits__art-text {
}

.benefits__title-art {
    font-size: 36px;
    font-family: var(--font-raleway);
}

.benefits__text-art {
    font-family: var(--open-sans);
    font-size: 16px;
}

.border-red::after {
    content: "";
    width: 332px;
    height: 3px;
    background: var(--red);
    border-radius: 8px;
    margin-top: 50px;
    display: block;
}

.benefits__mac-pic {
    position: center;
    padding: 113px;
}

.benefits__pic-tel{
    position: relative;
}
.benefits__text-tel{
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid #e8e9ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}
.benefits__iphone-pic{
    position: center;
}
.benefits__pic-tel .benefits__pic-tel img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}
.benefits__pic-tel .benefits__iphone-pic::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--blue);
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 600px;
}
.benefits__pic-tel .benefits__iphone-pic {
    margin-right: 117px;
    margin-bottom: 38px;
}
.benefits__pic-tel .benefits__iphone-pic img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}
.border-blue::after{
    content: "";
    width: 332px;
    height: 3px;
    background: var(--blue);
    border-radius: 8px;
    margin-top: 50px;
    display: block;
}


.benefits__pic-trumpet{
    position: relative;

}
.benefits__pic-trumpet .benefits__trumpet-pic::before {
    content: "";
    width: 440px;
    height: 370px;
    background-color: var(--green);
    display: block;
    border-radius: 5px;
    position: absolute;
    right: 45px;
    border: 1px solid #E8E9ED;
    bottom: -1px;
}
.benefits__pic-trumpet .benefits__trumpet-pic {
    margin-right: 117px;
}
.benefits__pic-trumpet .benefits__trumpet-pic img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}
.benefits__trumpet-pic{
    position: center;
}

.benefits__text-trumpet{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefits__trumpet-text{
    border: 1px solid #E8E9ED;
    background-color: var(--white);
    height: 370px;
    width: 623px;
}
.border-green::after{
    content: "";
    width: 332px;
    height: 3px;
    background: var(--green);
    border-radius: 8px;
    margin-top: 50px;
    display: inline-block;
}

.benefits__recognation>div{
    margin: 0;
}
/*Pricing*/


.pricing {}
.pricing__container {}
.pricing__title {
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.pricing__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pricing__option {
    border: 1px solid #FB3B64;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 460px;
    width: 370px;
    position: relative;
    transition: 1s;
}
.pricing__option2 {
    border: 1px solid #07ACE6;
    border-radius: 18px;
    height: 500px;
    width: 405px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 1s;
}
.pricing__option3 {
    border: 1px solid #55DFB4;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 460px;
    width: 370px;
    position: relative;
    transition: 1s;
}
.option__title {
    font-family: var(--font-raleway);
    font-size: 21px;
    font-weight: 600;
}
.option__price {
    font-size: 36px;
    font-weight: 300;
    color: var(--red);
    margin-top: 0;
}
.option__price2 {
    font-size: 36px;
    font-weight: 300;
    color: var(--blue);
    margin: 0;
}
.option__price3 {
    font-size: 36px;
    font-weight: 300;
    color: var(--green);
    margin: 0;
}
.option__limited {
    font-family: var(--font-raleway);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
}
.option__info {}
.option__info-yes {
    display: flex;
    margin: 10px;
}
.pricing__btn {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--red);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-top: 15px;
    transition: 1s;
}
.pricing__btn2 {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--blue);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-top: 15px;
    transition: 1s;
}
.pricing__btn3 {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--green);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-top: 15px;
    transition: 0.5s;
}
.pricing__btn:hover {
    box-shadow: 0 0 27px 2px var(--red);
}
.pricing__btn2:hover{
    box-shadow: 0 0 27px 2px var(--blue);
}
.pricing__btn3:hover {
    box-shadow: 0 0 27px 2px var(--green);
}
.pricing__option:hover {
    box-shadow: 5px 10px 27px var(--red);
}
.pricing__option2:hover {
    box-shadow: 5px 10px 27px var(--blue);

}
.pricing__option3:hover {
    box-shadow: 5px 10px 27px var(--green);
}


/*contact*/


.contact {}
.contact__container {
    max-width: 896px;
    display: flex;
    justify-content: space-between;
    margin-top: 155px;
    height: 376px;
}
.contact__title {
    font-family: var(--font-raleway);
    font-size: 49px;
    font-weight: 400;
    margin-top: 0;
}
.contact__info {
    display: flex;
    justify-content: space-between;
}
.info__mail {
    display: flex;
    color: #A5A5A5;
}
.info__phone {
    display: flex;
    color: #A5A5A5;
}
.contact__form {
    max-width: 440px;
    display: flex;

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-row {
    display: flex;
    flex-direction: column;
}
.form-row-btn {
    display: flex;
    flex-direction: row-reverse;
}
.label__txt {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: var(--blue);
    margin-bottom: 40px;
}
.form-input {
    border: none;
    border-bottom: 1px solid #000;
}
.form-checkbox {
    font-size: 12px;
    color: #707070;
    text-align: left;

}
.form-btn {
    background: var(--blue);
    color: white;
    font-weight: 600;
    font-size: 13px;
    border-radius: 35px;
    width: 225px;
    height: 56px;
    border: none;
    box-shadow: 5px 10px 14px #07ACE629;
    transition: 1s;
}
.form-btn:hover {
    box-shadow: 0 0 27px 2px var(--blue);
}


/*footer*/


.footer {
    background: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
}
.footer__container {
    margin-top: 100px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text {}
.footer__title {
    font-family: var(--font-raleway);
    color: var(--blue);
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 7px;
}
.footer__txt {
    font-size: 11px;
    font-weight: 300;
    color: #A5A5A5;
    margin-top: 0;
}
.footer__icons {
    width: 68px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}